Source: vdr-addon-acpiwakeup
Section: misc
Priority: optional
Maintainer: Tobias Grimm <tg@e-tobi.net>
Origin: ctvdr
Bugs: mailto:pkg-vdr-dvb-devel@lists.alioth.debian.org
Build-Depends: debhelper (>> 3.0.0), tzdata
Standards-Version: 3.5.2

Package: vdr-addon-acpiwakeup
Architecture: all
Depends: ${shlibs:Depends}, perl, vdr (>=1.2.6-27)
Description: Addon that enables vdr to wakeup itself using ACPI
 This vdr addon uses ACPI to set an alarm time with the next timer,
 when vdr shuts down.
